*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: indigo;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    text-decoration: none;
}

h2{
    padding: 10px;
    text-align: center;
}

input{
    border: solid 1px;
    padding: 5px;
}

.common{
    text-align: center;
}

.button-style {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight:bold;
    border:solid 1px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.white-button{
    color: gray;
    background-color: white;
}

.red-button{
    color: white;
    background-color: red;
}

.blue-button{
    color: white;
    background-color: blue;
}

br {
    display: block;
    content: "";
    margin: 10px 0;
    }

.msg-error{
    color:red;
}

.history-table{
    margin:auto;
    border-collapse: collapse;
    width:400px;
}

.table-column{
    color:indigo;
    background-color: lightgray;
}

.table-line{
    text-align: center;
}

.add-btn{
    text-align: center;
}