h1{
    color: indigo;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
    text-decoration: none;
}

h2{
    text-align: center;
}

input{
    border: solid 1px;
    padding: 5px;
}

.login{
    text-align: center;
}

.btn {
    border: solid 1px;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

br {
    display: block;
    content: "";
    margin: 10px 0;
    }

.mock-error{
    color:red;
}

.history-table{
    margin:auto;
    border-collapse: collapse;
    width:400px;
}

.table-column{
    color:indigo;
    background-color: lightgray;
}

.table-line{
    text-align: center;
}

.add-btn{
    text-align: center;
}

.read-btn {
    border: solid 1px;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    color: white;
    background-color: red;
}