<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>レッスン記録</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/script.js}"></script>
    </head>
    <body>
        <h1>レッスン記録</h1>
        <h2>レッスン記録登録</h2>
        <div class="login">
            <form action="/home" method="POST">
                <h3>生徒名</h3>
                <input type="text" placeholder="生徒名" name="studentName" required>
                <h3>進捗・課題</h3>
                <input type="text" placeholder="進捗・課題" name="lessonMemo" required>
                <br>
                <!-- DBに登録されることなくホーム画面へ遷移 -->
                <a th:href="@{/home}" class="button-style">戻る</a>
                <!-- DBに登録の上ホーム画面へ遷移 -->
                <button class="button-style" type="submit">登録</button>
            </form>
        </div>
    </body>
</html>