<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>レッスン記録</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/script.js}"></script>
    </head>
    <div>
        <h1>レッスン記録</h1>
        <h2>記録一覧</h2>
        <table class="history-table" border="1">
            <tr class="table-column">
                <th>登録日</th>
                <th>生徒名</th>
                <th>詳細</th>
            </tr>
            <tr>
                <th>2024/4/3</th>
                <th>生徒名3</th>
                <!-- 記録詳細画面へ遷移 -->
                <th>
                    <a class="read-btn">
                        確認
                    </a>
                </th>
            </tr>
            <tr>
                <th>2024/4/2</th>
                <th>生徒名2</th>
                <!-- 記録詳細画面へ遷移 -->
                <th>
                    <a class="read-btn">
                        確認
                    </a>
                </th>
            </tr>
            <tr>
                <th>2024/4/1</th>
                <th>生徒名1</th>
                <!-- 記録詳細画面へ遷移 -->
                <th>
                    <a class="read-btn">
                        確認
                    </a>
                </th>
            </tr>
        </table>
        <div class="add-btn">
            <br>
            <!-- 記録登録画面へ遷移 -->
            <a class="btn">登録</a>
        </div>
    </body>
</html>