<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>レッスン記録</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/script.js}"></script>
    </head>
    <body>
        <h1>レッスン記録</h1>
        <h2>ログイン</h2>
        <div class="login">
            <form action="/check" method="POST">
                <input type="text" placeholder="ユーザーID" id="id" name="id" required>
                <br>
                <input type="password" placeholder="パスワード" id="password" name="password" required>
                <br>
                <!-- ユーザーIDとパスワードが正しければ記録一覧画面へ遷移 -->
                <button class="btn" type="submit">ログイン</button>
            </form>
            <br>
            <!-- モックにてログインに失敗した場合を想定したメッセージ -->
            <p class="mock-error" th:if="${error}" th:text="${error}"></p>
        </div>
    </body>
</html>