<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>レッスン記録</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <script th:src="@{/js/script.js}"></script>
    </head>
    <body>
        <h1>レッスン記録</h1>
        <h2>レッスン記録参照</h2>
        <div class="login">
            <h3>id</h3>
            <p><span th:text="${lessons.id}"></span></p>
            <h3>登録日</h3>
            <p><span th:text="${lessons.lessonDate}"></span></p>
            <h3>生徒名</h3>
            <p><span th:text="${lessons.studentName}"></span></p>
            <h3>進捗・課題</h3>
            <p><span th:text="${lessons.lessonMemo}"></span></p>
            <!-- ホーム画面へ遷移 -->
            <a th:href="@{/home}" class="button-style">戻る</a>
            <!-- 編集画面へ遷移 -->
            <a th:href="@{'/update/' + ${lessons.id}}" class="button-style">編集</a>
            <!-- DBから削除の上ホーム画面へ遷移 -->
            <a th:href="@{/home}" class="button-style">削除</a>
        </div>
    </body>
</html>